<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       
	xmlns:p="http://www.springframework.org/schema/p"  
	xmlns:context="http://www.springframework.org/schema/context"   
	xmlns:tx="http://www.springframework.org/schema/tx"  
	xmlns:aop="http://www.springframework.org/schema/aop"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
	http://www.springframework.org/schema/beans/spring-beans.xsd    
	http://www.springframework.org/schema/aop    
	http://www.springframework.org/schema/aop/spring-aop.xsd    
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx.xsd    
	http://www.springframework.org/schema/context    
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- action -->
	<bean id="homeAction" class="pers.hdh.management.action.HomeAction" scope="prototype"></bean>
	<bean id="loginAction" class="pers.hdh.management.action.LoginAction" scope="prototype"></bean>
	
	<!-- sysadmin，系统管理 -->
	<!-- 部门管理 -->
	<bean id="deptAction" class="pers.hdh.management.action.sysadmin.DeptAction" scope="prototype">
		<property name="deptService" ref="deptService"></property>
	</bean>
	<!-- 用户管理 -->
	<bean id="userAction" class="pers.hdh.management.action.sysadmin.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
		<property name="deptService" ref="deptService"></property>
		<property name="roleService" ref="roleService"></property>
	</bean>
	<!-- 角色管理 -->
	<bean id="roleAction" class="pers.hdh.management.action.sysadmin.RoleAction" scope="prototype">
		<property name="roleService" ref="roleService"></property>
		<property name="moduleService" ref="moduleService"></property>
	</bean>
	<!-- 模块管理 -->
	<bean id="moduleAction" class="pers.hdh.management.action.sysadmin.ModuleAction" scope="prototype">
		<property name="moduleService" ref="moduleService"></property>
	</bean>
	
	<!-- cargo，货物管理 -->
	<!-- 购销合同管理 -->
	<bean id="contractAction" class="pers.hdh.management.action.cargo.ContractAction" scope="prototype">
		<property name="contractService" ref="contractService"></property>
	</bean>
	<!-- 购销合同下货物管理 -->
	<bean id="contractProductAction" class="pers.hdh.management.action.cargo.ContractProductAction" scope="prototype">
		<property name="contractProductService" ref="contractProductService"></property>
		<property name="factoryService" ref="factoryService"></property>
	</bean>
	<!-- 购销合同下附件管理 -->
	<bean id="extCproductAction" class="pers.hdh.management.action.cargo.ExtCproductAction" scope="prototype">
		<property name="extCproductService" ref="extCproductService"></property>
		<property name="factoryService" ref="factoryService"></property>
	</bean>
	<!-- 出货表管理 -->
	<bean id="outProductAction" class="pers.hdh.management.action.cargo.OutProductAction" scope="prototype">
		<property name="contractProductService" ref="contractProductService"></property>
	</bean>
	<!-- 报运管理 -->
	<bean id="exportAction" class="pers.hdh.management.action.cargo.ExportAction" scope="prototype">
		<property name="exportService" ref="exportService"></property>
		<property name="contractService" ref="contractService"></property>
		<property name="exportProductService" ref="exportProductService"></property>
	</bean>
	
</beans>