body{ background:#00716B; margin:0px; padding:0px;font-size:12px; color:#FFFFFF; text-align:center;}
.clear{ clear:both; }

#png{ background:url(../images/login/bg.png) no-repeat; height:720px;background-position: center;}
.box{ width:520px; margin-left:auto;margin-right:auto; padding-top:310px; padding-left:40px;}
.msgtip{ margin:0px;padding-top:80px; font-size:16px;font-weight:bold; }

.inputstyle{width:250px; float:left; padding-left:30px;}

.inputstyle input{background:url(../images/login/input_bg.jpg) repeat-x; padding:5px; width:160px; height:26px; border:1px solid #00897F; vertical-align:middle;}
.inputlable{height:30px; margin-top:8px;}


.btnstyle{width:210px; float:right; padding-top:18px;}
.btnstyle input{ width:width:96px; height:45px;}


.loginImgOut {width:96px; height:45px; padding-top:18px; background:url(../images/login/loginImgOut.jpg) no-repeat; border:0px; cursor:pointer;}
.loginImgOver{width:96px; height:45px; padding-top:18px; background:url(../images/login/loginImgOver.jpg) no-repeat; border:0px; cursor:pointer;}

.resetImgOut {width:96px; height:45px; padding-top:18px; background:url(../images/login/resetImgOut.jpg) no-repeat; border:0px; cursor:pointer;} 
.resetImgOver{width:96px; height:45px; padding-top:18px; background:url(../images/login/resetImgOver.jpg) no-repeat; border:0px; cursor:pointer;} 

.helpbar{ float:left; }